<!DOCTYPE html>
<html>
<head>
	<title>Single Player Scattergories</title>

    <!--<script src="/js/main.js"></script>-->
	<link
		rel="stylesheet"
		href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
		crossorigin="anonymous"
	>
    <link rel="stylesheet" href="/stylesheets/main.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">

</head>

    <body>
    	<nav class="nav justify-content-end">
		<% if(!currentUser){ %>
		  <li class="nav-item">
		    <a class="nav-link" href="/login">Login</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/register">Sign Up</a>
		  </li>
		<% } else { %>
		  <li class="nav-item">
		    <a class="nav-link" href="#">Now Playing As <%= currentUser.username %></a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" href="/logout">Log Out</a>
		  </li>
		<% } %>
		</nav>