<% include ./partials/header %>

	<h1>Think of words that begin with <span id="letterDisplay"></span>!</h1>

	<button id="letterbtn">Generate Letter</button>
	<button id="resetbtn">New Game</button>
	<button id="pastbtn">View Past Games</button>

	<h4>Fill in the categories with words that begin with the generated letter as fast as you can!</h4>
	

	<span id="finalscore"></span>

	<form action="/games/<%=games._id%>" method="POST">
		<input type="submit" id="submit">SUBMIT!</input>
		<div class="form-group">
			<label>Fruit or Vegetable</label>
			<input type="text" name="fruit" placeholder="Enter answer here!">
		</div>
		<div class="form-group">
			<label>Movie Title</label>
			<input type="text" name="movie" placeholder="Enter answer here!">
		
		</div>
		<div class="form-group">
			<label>City</label>
			<input type="text" name="city" placeholder="Enter answer here!">
		</div>
		<div class="form-group">
			<label>Colour</label>
			<input type="text" name="colour" placeholder="Enter answer here!">
		</div>
		<div class="form-group">
			<label>Restaurant</label>
			<input type="text" name="restaurant" placeholder="Enter answer here!">
		</div>
		<div class="form-group">
			<label>App</label>
			<input type="text" name="app" placeholder="Enter answer here!">
		</div>
		<div class="form-group">
			<label>Harry Potter Reference</label>
			<input type="text" name="harry" placeholder="Enter answer here!">
		</div>
		<div class="form-group">
			<label>Brand of Alcohol</label>
			<input type="text" name="alcohol" placeholder="Enter answer here!">
		</div>
		<div class="form-group">
			<label>Book Title</label>
			<input type="text" name="book" placeholder="Enter answer here!">
		</div>
		<div class="form-group">
			<label>Article of Clothing</label>
			<input type="text" name="clothing" placeholder="Enter answer here!">
		</div>
		<div class="form-group">
			<label>Something you'd find at the beach</label>
			<input type="text" name="beach" placeholder="Enter answer here!">
		</div>
		<div class="form-group">
			<label>Name that has more than 5 letters</label>
			<input type="text" name="name" placeholder="Enter answer here!">
		</div>		
	</form>

<% include ./partials/footer %>