<% include ./partials/header %>

<h1>Register here so you can keep track of your games!</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">    
    <input type="password" name="password" placeholder="password">
    <input type="submit" value="Register">
</form>

<% include ./partials/footer %>