<% include ./partials/header %>

<h1 class="reg-title">Register here so you can keep track of your games!</h1>

<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username">    
    <input type="password" name="password" placeholder="password">
    <div>
        <button type="submit" value="Register" class="btn btn-danger">Register</button>
    </div>
</form>

<% include ./partials/footer %>