.form-group {
    margin: 0.3rem;
}

.col-md-3 {
    border: 2px solid #19d697;
    margin: 8px;
    padding: 1em;
    flex: 25%;
}

.reg-title {
    margin-bottom: 1rem;
}

.container {
    margin: 0px;
}

.nav-link {
    font-family: "Pacifico";
    color: #19d697;
}

.btn {
    background: #19d697;
    color: white;
}

#new-header {
    font-size: 33px;
}

#resetbtn {
    font-family: "Pacifico";
    margin-top: 5px;
    border-color: #19d697;
    background: white;
    color: black;
}

#letterbtn {
    font-family: "Pacifico";
    margin-top: 5px;
    border-color: #19d697;
    background: white;
    color: black;
}

#submit {
    font-family: "Pacifico";
    margin-top: 5px;
}

/*#showScore {*/
/*    font-size: 20px;*/
/*}*/

#mini-header {
    font-size: 15px;
    margin-top: 8px;
}

body {
    margin-left: 2rem;
}

label {
    font-family: "Pacifico";
}

h1 {
    font-family: "Pacifico";
}

h3 {
    font-family: "Pacifico";
    margin-top: 8px;
}

button {
    font-family: "Pacifico";
    margin-top: 5px;
}

a {
    font-family: "Pacifico";
}

h4 {
    font-size: 15px;
    margin-bottom: 0.3rem;
}

span {
    font-weight: bold;
}